<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="warn" name="MyApp">

<!--    Two appender : File and console-->
    <Appenders>
        <!--The is File Appender -->
        <!--The is File Location -->
        <File name="MyFile" fileName="logs/app.log">
            <PatternLayout>
                <!--The is Log Pattern -->
                <Pattern>%d %p %c{1.} [%t] %m%n</Pattern>
            </PatternLayout>
        </File>

        <!--The is Console Appender -->
        <Console name="ConsoleAppender" target="SYSTEM_OUT">
            <PatternLayout pattern="%d %p %c{1.} [%t] %m%n"/>
        </Console>
    </Appenders>


    <!--This is File-->
    <Loggers>
        <!--All Level Include-->
        <Root level="all">
            <AppenderRef ref="MyFile"/>
            <AppenderRef ref="ConsoleAppender"/>
        </Root>
    </Loggers>
</Configuration>
